git:
  depth: false

language: go

go:
  - 1.8

before_install:
  - wget https://github.com/alecthomas/gometalinter/releases/download/v2.0.12/gometalinter-2.0.12-linux-amd64.tar.gz
  - tar xf ./gometalinter-2.0.12-linux-amd64.tar.gz
  - export PATH=$PATH:$PWD/gometalinter-2.0.12-linux-amd64
  - go get github.com/mattn/goveralls

script:
  - PERMISSIVE_GO=y make verify -k
  - PERMISSIVE_GO=y COVERAGE_OUTPUT_DIR=_output/coverage make test-unit && goveralls -coverprofile=_output/coverage/profiles.out

notifications:
  irc: "chat.freenode.net#openshift-dev"

sudo: false
